body{
     font-family: roboto, sans-serif;
     padding:0 0 0 0;
     margin: 0 0 0 0;
}
#content div:nth-child(odd){
    background-color:lightgray;
}

div.top{
    background-color:white;
    height: 50px;
}

div.logo{
    text-align: center;
}

div.logo img{
    height: 50px;
}

.nav-bar{
    height: 20px;
    width: 100%;
    background-color: black;
    text-align: right;

}

.sticky{
    position: fixed;
    top:0;
    z-index: 1;
}

.div-active{
    background-color:#00aced;
}

.nav-bar ul{
    display: inline-block;
    margin: 0;
    padding: 0px 50px 0 0;
    /*above code is to center the links*/
    list-style-type: none;
    color:black;
}
    .nav-bar li{
        display: inline;
        padding: 0px 10px 0px 10px;
        transition: background 0.2s;
        transform:skew(20deg);
    }
    .nav-bar li:hover{
     transform:skew(20deg);
       background-color:#00aced;
    }

        .nav-bar a{
            font-size: 0.9em;
            text-decoration: none;
            color:white;
        }


.link-button{
    position: absolute;
    top: 15px;
    right:150px;
    color: black;
}
    .link-button a{
    text-decoration: none;
        color: 8f8f8f;
    }

.button{
  height: 30px;
  width:90px;
  border-radius: 6px;
  background-color:#ec008c;
  position: absolute;
  top: 10px;
  right:50px;
  text-align: center;

}
    .button:hover{
        background-color:#00aced;
    }
    .button a{
        text-decoration: none;
        color:white;
        position: relative;
        top:5px;
    }

#home{
    width: inherit;
    /* height: 620px; */

}

#aboutus{
    width: inherit;
    height: 620px;
    text-align: center;
}

#aboutus h1{
   margin-top: 100px;
   margin-bottom: 0px;
   padding: 50px 50px 0 50px;
   font-size: 50px;

}
    #aboutus hr{
    width: 220px;

}

    #aboutus p{
    padding: 0 200px;

}

#aboutus h2{
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 50px 50px 0 50px;
    text-align: center;
    font-size: 25px;

 }

 #aboutus .logoshowcase{
     z-index: -100;
     width: 700px;
     height:100px;
     padding:25px;
     margin: auto;
     position: relative;
 }
 #aboutus .logoshowcase ul{

    text-align: center;
    list-style: none;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0px 0px 0px 0px;
}

#aboutus .logoshowcase li{
    display: inline-block;
    margin: 0px 10px;
}


 #aboutus .logoshowcase li img{
     width: 100px;
     height: 100px;
     filter:grayscale(0);
 }

 #aboutus .logoshowcase li img:hover{
    filter:grayscale(100%);
}


#products{
    width: inherit;
    height: 620px;
}

#contactus{
    width: inherit;
    height: 620px;
}

#products{
    padding:50px 0px 50px 0px;
    margin: 0 0 0 0;
    text-align: center;
}


#products .product-tile{
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative;
    text-align:center;
    width:500px;
    height: 310px;
}

span .line{
    display: block;
}

#products .product-tile img{
    width:500px;
    height: 310px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}

.image-over{
    opacity:0.2;
    transition: background 0.5sec;

}




.product-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
